.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 99vh;
    scroll-behavior:smooth;
    background-color: #1D1B4C;
}
.logo{
    text-align: center;
    padding: 20px;
    align-items: center;
    display: flex;
    gap: 20px;
}
.menu--list{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.menu--list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 500;
    padding: 25px;
    transition: 0.3s ease-in-out;
    color: rgb(255, 255, 255);
}
.menu--list .item:hover{
    background-color: white;
    color: black;
}